{{# partial "contenido" }}	  
<div class="container">
	<script> 
		function submitForm(nombre) {
		    document.getElementById("indicador_id").value = nombre;
		}
		function validateForm() {
    		var periodo = document.forms["aplicarForm"]["periodo"].value;
    		var semestre = document.forms["aplicarForm"]["semestre"].value;
    		if (periodo == "") {
        		alert("El campo periodo es obligatorio");
        		return false;
    		}
    		if (semestre == "") {
        		alert("El campo semestre es obligatorio");
        		return false;
    		}
    		return true;
		}
	</script>
	<div class="inline" style="width:100%;float:right;align-content: flex-end;display: flex;">
		<h3 style="padding-right:20px;flex:auto">Aplicar indicador</h3>
		<a class="btn" href="/indicador" >Nuevo Indicador</a>
  	</div>
  	<br>
  	<br>
  	<br>
	<form name="aplicarForm" action="/aplicarindicadores" method="POST" onsubmit="return validateForm()">
		<div class="inline" style="width:95%;float:left">
			<label for="periodo" style="width:10%;">Periodo</label>
			<input id="periodo" type="text" aria-label="periodo" aria-describedby="basic-addon1" name="periodo" style="width:25%">
			<label for="semestre" style="width:10%;padding-left:20px">Semestre</label>
			<input id="semestre" type="text" aria-label="semestre" aria-describedby="basic-addon1" name="semestre" style="width:25%">
		</div>
		<input id="indicador_id" type="hidden" name="indicador_id" value="">
		<br>
		<br>
	  	<div class="col-md-12" style="padding-top:10px; height:40%">
			<table class="table table-hover">
				<thead class="thead-default">
					<tr>
						<th></th>
						<th>Indicador</th>
						<th>Ecuación</th>
					<tr>
				</thead>
				<tbody class="scrollable">
				{{#indicadores}}
					<tr>
						<td scope="row" width="10%"><button class="btn" type="submit" value="{{nombre}}" onClick="submitForm(this.value)">Aplicar</button></td>
						<td>{{nombre}}</td>
						<td>{{ecuacion}}</td>
					</tr>
				{{/indicadores}}
				</tbody>
			</table>
		</div>
	</form>
</div>	
{{/partial}}
				
{{> main_layout.hbs }}